body {
    width:250px;
    margin:5px;
}


input[type="email"] {
    width:180px;
    height:20px;
    font-size:14px;
    font-weight:bold

}

input[type="password"] {
    width:180px;
    height:20px;
    font-size:14px;
    font-weight:bold;
 

}


input[type="button"] {
    width:auto;
    height:40px;
    font-size:14px;
    font-weight:bold;
    color: #FF3300

}